In [232]:
# my favorite books
liked_books = ["69571", "2249", "4894", "1145278", "54270"]

In [233]:
# show the first 5 lines of the book_id_map.csv file
!head book_id_map.csv

book_id_csv,book_id
0,34684622
1,34536488
2,34017076
3,71730
4,30422361
5,33503613
6,33517540
7,34467031
8,6383669

In [234]:
import pandas as pd
book_mapping = pd.read_csv('book_id_map.csv')

In [235]:
book_mapping.head()

   book_id_csv   book_id
0            0  34684622
1            1  34536488
2            2  34017076
3            3     71730
4            4  30422361

In [236]:
book_mapping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2360650 entries, 0 to 2360649
Data columns (total 2 columns):
 #   Column       Dtype
---  ------       -----
 0   book_id_csv  int64
 1   book_id      int64
dtypes: int64(2)
memory usage: 36.0 MB

In [237]:
book_mapping['book_id'] = book_mapping['book_id'].astype(str)
book_mapping['book_id_csv'] = book_mapping['book_id_csv'].astype(str)

In [238]:
# convert the book_mapping dataframe to a dictionary
book_mapping = dict(zip(book_mapping['book_id_csv'], book_mapping['book_id']))

In [239]:
book_mapping["2"]

'34017076'

In [240]:
type(book_mapping["2"])

str

In [241]:
# show the length of the book_mapping dictionary
len(book_mapping)

2360650

In [242]:
# number of lines in the goodreads_interactions.csv file 
!wc -l goodreads_interactions.csv

228648343 goodreads_interactions.csv

In [243]:
# the size of the goodreads_interactions.csv file
!ls -lh goodreads_interactions.csv

-rw-r--r-- 1 Abdul 197609 4.1G Dec 27 17:18 goodreads_interactions.csv

In [244]:
# find the similarity users who liked the same books
overlap_users = set()
with open('goodreads_interactions.csv', 'r') as file:
    for line in file:
        user_id, csv_id, _, rating, _ = line.split(',')
        
        if user_id in overlap_users:
            continue
        try:
            rating = int(rating)
        except ValueError:
                continue
        book_id = book_mapping.get(csv_id)
        if book_id in liked_books and rating >= 4:
            overlap_users.add(user_id)

In [245]:
len(overlap_users)

13681

In [246]:
# find the books that the similar users liked
rec_lines = []
with open('goodreads_interactions.csv', 'r') as file:
    for line in file:
        user_id, csv_id, _, rating, _ = line.split(',')
        
        if user_id in overlap_users:
            book_id = book_mapping.get(csv_id)
            rec_lines.append([user_id, book_id, rating])

In [247]:
len(rec_lines)

4593126

In [248]:
recs = pd.DataFrame(rec_lines, columns=['user_id', 'book_id', 'rating'])

In [249]:
recs['book_id'] = recs['book_id'].astype(str)

In [250]:
top_recs = recs['book_id'].value_counts().head(10)
top_recs = top_recs.index.values

In [287]:
books_titles = pd.read_csv("D:\\Data_Science\\My projects in Data Science and ML\\extra files for book recommendation\\titles.csv")
books_titles['book_id'] = books_titles['book_id'].astype(str)

In [288]:
books_titles.head()

,book_id,title,rating,url,image_url,average_rating,edit_title
0,7327624,"The Unschooled Wizard (Sun Wolf and Starhawk, ...",140,https://www.goodreads.com/book/show/7327624-th...,https://images.gr-assets.com/books/1304100136m...,4.03,the unschooled wizard sun wolf and starhawk 12
1,6066819,Best Friends Forever,51184,https://www.goodreads.com/book/show/6066819-be...,https://s.gr-assets.com/assets/nophoto/book/11...,3.49,best friends forever
2,287141,The Aeneid for Boys and Girls,46,https://www.goodreads.com/book/show/287141.The...,https://s.gr-assets.com/assets/nophoto/book/11...,4.13,the aeneid for boys and girls
3,6066812,All's Fairy in Love and War (Avalon: Web of Ma...,98,https://www.goodreads.com/book/show/6066812-al...,https://images.gr-assets.com/books/1316637798m...,4.22,alls fairy in love and war avalon web of magic 8
4,287149,The Devil's Notebook,986,https://www.goodreads.com/book/show/287149.The...,https://images.gr-assets.com/books/1328768789m...,3.81,the devils notebook

In [289]:
books_titles[books_titles["book_id"].isin(top_recs)]

,book_id,title,rating,url,image_url,average_rating,edit_title
284473,2767052,"The Hunger Games (The Hunger Games, #1)",4899965,https://www.goodreads.com/book/show/2767052-th...,https://images.gr-assets.com/books/1447303603m...,4.34,the hunger games the hunger games 1
615314,5470,1984,2023937,https://www.goodreads.com/book/show/5470.1984,https://images.gr-assets.com/books/1348990566m...,4.14,1984
675722,36072,The 7 Habits of Highly Effective People: Power...,330726,https://www.goodreads.com/book/show/36072.The_...,https://images.gr-assets.com/books/1421842784m...,4.05,the 7 habits of highly effective people powerf...
784186,69571,"Rich Dad, Poor Dad",164543,https://www.goodreads.com/book/show/69571.Rich...,https://s.gr-assets.com/assets/nophoto/book/11...,3.96,rich dad poor dad
790927,2657,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,4.26,to kill a mockingbird
838972,4865,How to Win Friends and Influence People,296690,https://www.goodreads.com/book/show/4865.How_t...,https://images.gr-assets.com/books/1442726934m...,4.14,how to win friends and influence people
876816,865,The Alchemist,1342863,https://www.goodreads.com/book/show/865.The_Al...,https://images.gr-assets.com/books/1483412266m...,3.82,the alchemist
878545,3,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,4.45,harry potter and the sorcerers stone harry pot...
915463,4894,Who Moved My Cheese?,245187,https://www.goodreads.com/book/show/4894.Who_M...,https://s.gr-assets.com/assets/nophoto/book/11...,3.74,who moved my cheese
1223254,968,"The Da Vinci Code (Robert Langdon, #2)",1465770,https://www.goodreads.com/book/show/968.The_Da...,https://images.gr-assets.com/books/1303252999m...,3.79,the da vinci code robert langdon 2

In [290]:
all_recs = recs["book_id"].value_counts()

In [291]:
all_recs = all_recs.to_frame().reset_index()
all_recs.columns = ["book_id", "count"]

In [292]:
all_recs.head()

  book_id  count
0    4894   8983
1   69571   6543
2     865   6185
3    2657   5077
4       3   4880

In [293]:
all_recs = all_recs.merge(books_titles, how="inner", on="book_id")

In [294]:
all_recs.head()

,book_id,count,title,rating,url,image_url,average_rating,edit_title
0,4894,8983,Who Moved My Cheese?,245187,https://www.goodreads.com/book/show/4894.Who_M...,https://s.gr-assets.com/assets/nophoto/book/11...,3.74,who moved my cheese
1,69571,6543,"Rich Dad, Poor Dad",164543,https://www.goodreads.com/book/show/69571.Rich...,https://s.gr-assets.com/assets/nophoto/book/11...,3.96,rich dad poor dad
2,865,6185,The Alchemist,1342863,https://www.goodreads.com/book/show/865.The_Al...,https://images.gr-assets.com/books/1483412266m...,3.82,the alchemist
3,2657,5077,To Kill a Mockingbird,3255518,https://www.goodreads.com/book/show/2657.To_Ki...,https://images.gr-assets.com/books/1361975680m...,4.26,to kill a mockingbird
4,3,4880,Harry Potter and the Sorcerer's Stone (Harry P...,4765497,https://www.goodreads.com/book/show/3.Harry_Po...,https://images.gr-assets.com/books/1474154022m...,4.45,harry potter and the sorcerers stone harry pot...

In [295]:
all_recs["score"] = all_recs["count"] * (all_recs["count"] / all_recs["rating"])

In [296]:
all_recs = all_recs.sort_values("score", ascending=False)

In [297]:
all_recs.head()

,book_id,count,title,rating,url,image_url,average_rating,edit_title,score
0,4894,8983,Who Moved My Cheese?,245187,https://www.goodreads.com/book/show/4894.Who_M...,https://s.gr-assets.com/assets/nophoto/book/11...,3.74,who moved my cheese,329.113244
1,69571,6543,"Rich Dad, Poor Dad",164543,https://www.goodreads.com/book/show/69571.Rich...,https://s.gr-assets.com/assets/nophoto/book/11...,3.96,rich dad poor dad,260.180312
12826,25512893,45,Thrive: 30 Inspirational Rags-to-Riches Stories,25,https://www.goodreads.com/book/show/25512893-t...,https://images.gr-assets.com/books/1431211408m...,3.85,thrive 30 inspirational ragstoriches stories,81.000000
50,1005,2451,Think and Grow Rich,87634,https://www.goodreads.com/book/show/1005.Think...,https://s.gr-assets.com/assets/nophoto/book/11...,4.17,think and grow rich,68.551030
83,1052,1825,The Richest Man in Babylon,52607,https://www.goodreads.com/book/show/1052.The_R...,https://images.gr-assets.com/books/1348336780m...,4.23,the richest man in babylon,63.311441

In [298]:
poplular_books = all_recs[all_recs["count"] > 50]

In [299]:
poplular_books.head()

,book_id,count,title,rating,url,image_url,average_rating,edit_title,score
0,4894,8983,Who Moved My Cheese?,245187,https://www.goodreads.com/book/show/4894.Who_M...,https://s.gr-assets.com/assets/nophoto/book/11...,3.74,who moved my cheese,329.113244
1,69571,6543,"Rich Dad, Poor Dad",164543,https://www.goodreads.com/book/show/69571.Rich...,https://s.gr-assets.com/assets/nophoto/book/11...,3.96,rich dad poor dad,260.180312
50,1005,2451,Think and Grow Rich,87634,https://www.goodreads.com/book/show/1005.Think...,https://s.gr-assets.com/assets/nophoto/book/11...,4.17,think and grow rich,68.551030
83,1052,1825,The Richest Man in Babylon,52607,https://www.goodreads.com/book/show/1052.The_R...,https://images.gr-assets.com/books/1348336780m...,4.23,the richest man in babylon,63.311441
6,36072,4566,The 7 Habits of Highly Effective People: Power...,330726,https://www.goodreads.com/book/show/36072.The_...,https://images.gr-assets.com/books/1421842784m...,4.05,the 7 habits of highly effective people powerf...,63.038152

In [300]:
poplular_books.drop("edit_title", axis=1, inplace=True)

C:\Users\Abdul\AppData\Local\Temp\ipykernel_10944\1647972103.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poplular_books.drop("edit_title", axis=1, inplace=True)

In [301]:
# Function to make the URLs clickable
def make_clickable(val):
    return '<a target="_blank" href="{}">click</a>'.format(val)

# Function to display images
def show_image(val):
    return '<img src="{}" width="100" height="100">'.format(val)

poplular_books[~poplular_books["book_id"].isin(liked_books)].head(10).style.format({'url': make_clickable, 'image_url': show_image})